* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
  margin: 0 auto;
}

body {
  background-color: #3f3f3f;
}

h1 {
  font-size: 3.2rem;
}

h2 {
  font-size: 2.8rem;
}

h3 {
  font-size: 2.4rem;
}

h4, ul {
  font-size: 2.0rem;
}

p, span {
  font-size: 1.6rem;
}

li {
  list-style: none;
  padding-left: 0.5rem;
}

#searchResearch {
  padding: 8px 16px;

  outline: none;
  border: 1px solid #7027ca;
  font-size: 1em;
}

.researchList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
}

.modContainer {
  background-color: #5d5d5d;
  border: 1px solid #7027ca;
  border-radius: 8px;
  padding: 0.8rem 0.8rem 0 0.8rem;

  display: flex;
  gap: 0.5rem;
  flex-direction: column;
}

.researchItem {
  padding: 1rem;
}


@media screen and (max-width: 375px) {
  body {
    font-size: 16px;
  }

  .researchList {
    width: 100vw;
  }

  .modContainer {
    width: 100%;
  }

  .researchItem {
    width: 100%;
  }

}
